<div class="container">
    <div class="my-5 text-center">
        <h1>Xin chào, Mình là Tiến.</h1>
        <p>Chào mừng bạn đã đến với blog của mình!</p>
    </div>

    <img
        src="/img/hero-image.webp"
        alt="person looking out through window"
        class="img-fluid rounded mx-auto d-block"
    />

    <section class="d-block w-75 mx-auto mt-5">
        <h2>Bài đăng mới nhất</h2>
        <ul class="list-unstyled">
            <% posts.forEach(post => { %>
            <li class="d-flex justify-content-between my-4">
                <div class="d-flex">
                    <img
                        src="<%= post.coverImage%>"
                        alt="Cover Image"
                        class="img-thumbnail rounded"
                        width="50"
                        height="50"
                    />
                    <div class="ms-2">
                        <h5 class="mb-1">
                            <a href="/posts/<%= post.slug%>" class=""> <%= post.title %> </a>
                        </h5>
                        <p class="mb-1 text-muted"><%= post.description %></p>
                    </div>
                </div>
                <small class="">
                    <strong><%= post.author.username %></strong> |
                    <%= new Date(post.createdAt).toLocaleDateString("vi-VN") %>
                </small>
            </li>
            <% }) %>
            <li class="text-center">
                <a href="/posts">Xem tất cả</a>
            </li>
        </ul>
    </section>
</div>
